@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins' , sans-serif;
    user-select: none;
    text-shadow: 2px 2px 5px black;
}
.container-fluid{
    width: 100vw;
    height: 100vh;
    background: rgb(13, 14, 55);
    background: linear-gradient(95deg, rgba(13, 14, 55, 1) 0%, rgba(59, 68, 119, 1) 100%);
}
.animation-panel {
    width: 95vw;
    background: linear-gradient(120deg, #1b003b 0%, #3c1a5b 50%, #3b4477 100%);
    box-shadow: 5px 5px 30px rgb(25, 25, 25);
    border-radius: 15px;
    height: 70vh;
    margin-left: 35px;
    margin-top: 20px;
    overflow: hidden;
    overflow-x: hidden;
}
.grid{
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px), 
        linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 50px 50px;
    background-position: top;
    animation: gridMove 15s infinite ease-in-out;
}
.grid > .row{
    height: 100%;

}
.grid > .row > .col-md-6{
    color: white;
    text-align: center;
    height: 100%;
    position: relative;
}
.grid > .row > .col-md-6 > div:nth-of-type(1){
    margin-top: 40px;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 600;
}
.grid > .row > .col-md-6 > div:nth-of-type(1) > span{
    color: whitesmoke;
    text-shadow: 0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #00b3ff,
    0 0 80px #00b3ff,
    0 0 120px #00b3ff;
}
.grid > .row > .col-md-6 > div:nth-of-type(2) > span{
    position: absolute;
    top: 430px;
    left: 140px;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 500;

}
.grid > .row > .col-md-6 > div:nth-of-type(2) > img{
    width: 600px ;
    height: 600px;
    user-select: none;
    position: absolute;
    right: 80px;
    top: -30px;
}
/* ___________________________________________________ */
.lft-animation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lft-animation > div:nth-of-type(1){
    width: 150px;
    height: 30px;
    background-color:rgb(220, 220, 220);
    margin-top: 50px;
    animation: LeftRight 10s infinite ease-in-out;
    border-radius: 5px;
    box-shadow: 0 0 10px #FF13F0,
    0 0 10px #FF13F0,
    0 0 20px #FF13F0,
    0 0 50px #FF13F0,
    0 0 70px #FF13F0;
}
.lft-animation > div:nth-of-type(3){
    padding-top: 150px;
}
.rgt-animation{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: end;
}
.rgt-animation > div:nth-of-type(2){
    /* border: 2px solid red; */
}
.rgt-animation > div:nth-of-type(3){
    width: 150px;
    height: 30px;
    margin-bottom: 100px;
    background-color: whitesmoke;
    margin-right: -10px;
    animation: RightLeft 10s infinite ease-in-out;
    border-radius: 5px;
    box-shadow: 0 0 10px #30A9BC,
    0 0 10px #30A9BC,
    0 0 20px #30A9BC,
    0 0 50px #30A9BC,
    0 0 70px #30A9BC;
}

@keyframes gridMove {
    0% {
        background-position: top center; 
    }
    50% {
        background-position: bottom center; 
    }
    100% {
        background-position: top center; 
    }
}
@keyframes LeftRight {
    0%{
        margin-left: -10px;
    }50%{
        margin-left: -100px;
    }100%{
        margin-left: -10px;
    }
}
@keyframes RightLeft {
    0%{
        margin-right: -10px;
    }50%{
        margin-right: -100px;
    }100%{
        margin-right: -10px;
    }
}
